<div class="flex-container">
  <mat-card align="center">
    <mat-card-title>
      Autocomplete
    </mat-card-title>
    <mat-card-content>
      <p>
        <mat-form-field>
          <input [formControl]="autoCompleteControl" type="text" placeholder="Pick one" aria-label="Number" matInput
            [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let item of githubAutoComplete$ | async; let index = index" [value]="item.name">
              {{ item.name | titlecase}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>
    </mat-card-content>
  </mat-card>
</div>